{% extends "base.html" %}

{% block head_content %}
<title>Adopta</title>
{% endblock%}

{% block container %}

  <div class="mostrar">
    <div id="wrapper">
      <div id="container1">

        <h1>Guia de Adocion</h1>
      </div>
    </div>

    <div class="info1">
      <div class="info">


        <p id="messageLabel">Pasos de adopcion</p>
        <ol id="lista5">
          <li> Cuando usted elige la mascota a adoptar se le va mostrar la informacion de la mascota y de la persona
            quien realizo la publicacion </li>
          <li>Con la informacion publicada debera comunicarse la persona quien realizo la publicacion para mas
            informacion sobre la mascota y para llegar aun acuerdo</li>
        </ol>
        <p id="messageLabel">Recomendaciones</p>
        <ol id="lista5">
          <li>Usar el boton de boton de "reportar" para avisarnos de uso incorrecto de la pagina y maltrato hacia la
            mascota</li>
          <li>No dar a la mascota hasta confirmar que la persona que desea adoptar es segura</li>
        </ol>
      </div>
    </div>
  </div>
  <br>
{% endblock %}